h2 Confirmation

div.actions
    button.btn.no(ng-click='ctrl.home()') No thanks
    button.btn.yes(ng-click='ctrl.deleteAuthor()') Yes

p
    | Are you sure you want to delete this author? 

h3
    {{author.name}}

div.data
    div.field Email:
    div.value {{ctrl.author.email}}
div.data
    div.field Website:
    div.value {{ctrl.author.website}}
