h2 Confirmation

div.actions
    button.btn.no(ng-click='ctrl.home()') No thanks
    button.btn.yes(ng-click='ctrl.deletePost()') Yes

p
    | Are you sure you want to delete this post? 

h3 {{post.title}}
div {{post.text}}


