div.actions
    a.edit(href='/editPost/{{ctrl.post.id}}') Edit
    a.delete(href='/deletePost/{{ctrl.post.id}}') Delete

h3.float
    a.title(href='/fullPost/{{ctrl.post.id}}') {{ctrl.post.title}}
div.meta
    | posted by 
    a.mail(href="mailto:{{ctrl.post.author.email}}") {{ctrl.post.author.name}}
    |  on {{post.date.slice(0, 10)}}

div.text {{ctrl.post.text}}

h4.margin_top Comments
p.comments_info
    <ng-pluralize count="ctrl.post.comments.length" when="commentForms"></ng-pluralize>


div.comment(ng-repeat='comment in ctrl.post.comments')
    div.actions
        a.delete(href='#', ng-click='ctrl.deleteComment(comment.id, $event)') Delete

    | Posted by <strong>{{ctrl.comment.name}}</strong> on {{ctrl.comment.date}}
    div.comment_content {{ctrl.comment.comment}}

h4.margin_top Add a comment
    
label(for='name') Name: 
input.name.form-control(ng-model='ctrl.form.name', name='name', type='text')

p Comment:
textarea.comment.form-control(ng-model='ctrl.form.comment', cols='50', rows='15')

p
    button.submit_comment.btn(ng-click='ctrl.submitComment()') submit comment
