doctype html
html(ng-app="myApp")
    head
        meta(charset='utf8')
        base(href='/')
        title Thinky -- Blog admin panel 
        link(rel='stylesheet', href='/css/bootstrap-combined.min.css')
        link(rel='stylesheet', href='/css/main.css')
    
    body
        #wrapper
            header
                h1 Thinky -- Blog example
                p.description How to use Thinky to build a simple blog
                ul.navigation
                    li
                        a(href='/') All posts/comments
                    li –
                    li
                        a(href='/addPost') Add a new post
                    li –
                    li
                        a(href='/authors') Edit an author
                    li –
                    li
                        a(href='/addAuthor') Add an author 
                    li –

            block body

    script(src='js/lib/angular/angular.js')
    script(src='js/lib/multiselect/multiselect.js')
    script(src='js/app.js')
    script(src='js/lib/angular/angular-route.js')    
    script(src='js/app.routes.js')
    script(src='js/services.js')
    <!-- Index -->
    script(src='js/index/index.controller.js')
    <!-- Post -->
    script(src='js/post/addPost.controller.js')
    script(src='js/post/deletePost.controller.js')
    script(src='js/post/editPost.controller.js')
    script(src='js/post/fullPost.controller.js')    
    <!-- Author -->
    script(src='js/author/author.controller.js')
    script(src='js/author/addAuthor.controller.js')
    script(src='js/author/deleteAuthor.controller.js')
    script(src='js/author/editAuthor.controller.js')
    script(src='js/author/readAuthor.controller.js')

